
body {
  background-color: $back;
  color: white;
  margin: 0;
}

.app {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: $line 1px solid;

  .header-left {
    font-family: 'Cambria';
    font-size: 30px;
  }

  .header-right {
    padding: 0;

    .wallet-button {
      font-size: 20px;
      border-radius: 15px;
      background-color: #242020;
      color: cyan;
    }
  }

  nav {
    margin: auto;
    a {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      color: white;
      text-decoration: none;
      padding: 0 20px;
    }
  
    a.active {
      color: cyan;
    }
  }
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.main {
  padding: 0 10px;
}

.connect-modal {
  .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .connect-btn {
    padding: 5px 0;
    button {
      width: 200px;
      color: white;
      border-radius: 6px;
    }
  }
}